/* 全域樣式 */
* {
    box-sizing: border-box;
    letter-spacing: 1.2px;
    color: #414141;
  }
  h2 {
    font-size: 35px;
    font-weight: bold;
  }
  
  h3 {
    font-size: 24px;
    font-weight: bold;
  }
  
  h4 {
    font-size: 20px;
    font-weight: bold;
  }
  h5{
    color: #a3a3a3;
  }
  a {
    text-decoration: none;
  }
  html, body {
    height: 100%; /*外層高度100%*/
    margin: 0;
  }
  
.app {
  min-height: 100%; /*外層高度100%*/
  margin-bottom: -50px; /*隨footer高度需做調整*/
    /* width: 1024px; */
    /* padding-top: 100px; */
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
/*表頭區域*/
.hearder{
    display: flex;
    background-color: #e3f2fd;
    /* justify-content: space-between; */
}
.hearder img{
  width: 100px;
  height: 100px;
}
.container{
    padding: 5px;
}
.row{
    padding: 5px;
    margin: 2px;
}
.footer{
  background-color: #343434;
  height: 80px;
  width: auto;
  margin-top: 5px;
}
.footer h5{
  display: flex;
align-items: start;
justify-content: center;
padding-top: 20px;
}

/* loading mask */
.mask {
  /* background-color: rgba(0, 0, 0, 0.2); */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  outline: 0;
  -webkit-overflow-scrolling: touch;
  background-color: rgb(0, 0, 0);
  filter: alpha(opacity=60);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: none;
}

.loader {
  position: absolute;
  top:30%;
  left: 50%;
  width: 100px;
  height: 101px;
  border: 8px solid;
  border-top-color: hsl(154, 100%, 31%);
  border-left-color: hsl(216, 87%, 52%);
  border-bottom-color: hsl(8, 66%, 50%);
  border-right-color: hsl(42, 100%, 51%);
  border-radius: 50%;
  transform: rotate(45deg);
  margin: 30px auto;
  z-index: 9999;
  display: none;
}

.loader p {
  display: inline-block;
  width: 107px;
  height: 107px;
  /* The background is used to specify the border background */
  background: linear-gradient(90deg, hsla(212, 67%, 36%, 0) 0%,
          hsla(207, 69%, 51%, 0) 76%,
          hsla(0, 0%, 100%, 1) 85%,
          hsla(0, 0%, 100%, 1) 100%);
  /* W3C */
  /* Background origin is the padding box by default.
Override to make the background cover the border as well. */
  -moz-background-origin: border;
  background-origin: border-box;
  /* A transparent border determines the width */
  border: 6px solid transparent;
  border-radius: 50%;
  box-shadow: inset -999px 0 0 #fff;
  /* The background color */
  transform: translate(-8px, 55px);
  animation: loading 1s linear infinite;
}
@keyframes loading {
  0% {
      transform: translate(-9px, -11px) rotate(0deg);
  }

  100% {
      transform: translate(-9px, -11px) rotate(360deg);
  }
}