/* 全域樣式 */
* {
    box-sizing: border-box;
    letter-spacing: 1.2px;
    color: #414141;
  }
  h2 {
    font-size: 35px;
    font-weight: bold;
  }
  
  h3 {
    font-size: 24px;
    font-weight: bold;
  }
  
  h4 {
    font-size: 20px;
    font-weight: bold;
  }
  h5{
    color: #a3a3a3;
  }
  a {
    text-decoration: none;
  }
  html, body {
    height: 100%; /*外層高度100%*/
    margin: 0;
  }
  
.app {
  min-height: 100%; /*外層高度100%*/
  margin-bottom: -50px; /*隨footer高度需做調整*/
    /* width: 1024px; */
    /* padding-top: 100px; */
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
/*表頭區域*/
.hearder{
    display: flex;
    background-color: #e3f2fd;
    /* justify-content: space-between; */
}
.hearder img{
  width: 100px;
  height: 100px;
}
.container{
    padding: 5px;
}
.row{
    padding: 5px;
    margin: 2px;
}
.footer{
  background-color: #343434;
  height: 80px;
  width: auto;
  margin-top: 5px;
}
.footer h5{
  display: flex;
align-items: start;
justify-content: center;
padding-top: 20px;
}
/* .collapse{
    text-align: end;
} */